$headerBack: url(../img/m-h-night.jpg) no-repeat center;

$fontMain: 'Hind',
sans-serif;
$fontSecondary: 'Fresca',
sans-serif;

$anyColors: (h1-textColor: #ffffff,
    h2-textColor: #c8c8d1,
    main-page-color: #ffffff,
    backColor: #21232e,
    buttonColor: #e3ac00,
    markColor: #ff4e33,
    section-color: #3b3f50,
    galleryColor: #3b3f50);

$liner-gradient: linear-gradient(to left, #922b54, #e2ab00);