$headerBack: url(../img/m-h-day.jpg) no-repeat center;

$fontMain: 'Hind',
sans-serif;
$fontSecondary: 'Source Sans Pro',
sans-serif;

$anyColors: (backColor: #ffffff,
    h1-textColor: #fff,
    h2-textColor: #bbbec9,
    main-page-color: #2c2f3c,
    buttonColor: #699900,
    markColor: #14a0c7,
    section-color: #21232e,
    galleryColor: #3b3f50);


$liner-gradient: linear-gradient(to left, #2b59dd, #699902);